/AppApprovals.Business/bin
/AppApprovals.Business/obj
/AppApprovals.Data/bin
/AppApprovals.Data/obj
/AppApprovals.Domain/bin
/AppApprovals.Domain/obj
/AppApprovals.Site/bin
/AppApprovals.Site/obj
/AppApprovals.Test/bin
/AppApprovals.Test/obj
